<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">User List</h3>
            </div>
            <div class="col-4 text-right">
              <a [routerLink]="['/users/create']" class="btn btn-primary">Add New User</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table datatable class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">User ID</th>
                  <th scope="col">User Name</th>
                  <th scope="col">Designation</th>
                  <th scope="col">Option</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    /argon/
                  </th>
                  <td>
                    4,569
                  </td>
                  <td>
                    340
                  </td>
                  <td class="text-center">
                    <a [routerLink]="['/users/edit/1']" class="btn btn-sm btn-primary">Edit</a>
                    <a href="#!" class="btn btn-sm btn-primary">Remore</a>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
