<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Notification List</h3>
            </div>
            <div class="col-4 text-right">
              <a [routerLink]="['/notification/create']" class="btn btn-primary">Create New Notification</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table datatable class="table align-items-center table-flush" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Notification Code</th>
                  <th scope="col">Notification Name</th>
                  <th scope="col">Total Notification</th>
                  <th scope="col">Option</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let notification of notifications">
                  <th scope="row">
                    {{notification.code}}
                  </th>
                  <td>
                    {{notification.name}}
                  </td>
                  <td>
                    {{notification.total}}
                  </td>
                  <td class="text-center">
                    <a [routerLink]="['/notification/edit/',notification.id]" class="btn btn-sm btn-primary">Edit</a>
                    <a (click)="removeDistrict(notification.id)" class="btn btn-sm btn-danger">Remove</a>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
