<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Thana List</h3>
            </div>
            <div class="col-4 text-right">
              <a [routerLink]="['/thana/create']" class="btn btn-primary">Add New Thana</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table datatable class="table align-items-center table-flush" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Thana Code</th>
                  <th scope="col">Thana Name</th>
                  <th scope="col">State</th>
                  <th scope="col">District</th>
                  <th scope="col">Subdivision</th>
                  <th scope="col">Option</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let thana of thanaList">
                  <th scope="row">
                    {{thana.code}}
                  </th>
                  <td>
                    {{thana.name}}
                  </td>
                  <td>
                    {{thana.subdivision.district.state.name}}
                  </td>
                  <td>
                    {{thana.subdivision.district.name}}
                  </td>
                  <td>
                    {{thana.subdivision.name}}
                  </td>
                  <td>
                    <a [routerLink]="['/thana/edit/',thana.id]" class="btn btn-sm btn-primary">Edit</a>
                    <a (click)="removeThana(thana.id)" class="btn btn-sm btn-danger">Remove</a>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
