<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My Task</h3>
            </div>
            <div class="col-4 text-right">
              <a [routerLink]="['/task/create']" class="btn btn-primary">Create New Task</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table datatable class="table align-items-center table-flush" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Task ID</th>
                  <th scope="col">Task Code</th>
                  <th scope="col">Create By</th>
                  <th scope="col">Assigned To</th>
                  <th scope="col">Status</th>
                  <th scope="col">Creation Date</th>
                  <th scope="col">Option</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of taskList">
                  <th scope="row">
                    {{task.id}}
                  </th>
                  <td>
                    {{task.code}}
                  </td>
                  <td>
                    {{task.createdBy}}
                  </td>
                  <td>
                    {{task.assignedTo.username}}
                  </td>
                  <td>
                    Open
                  </td>
                  <td>
                    {{task.createdDate}}
                  </td>
                  <td>
                    <a [routerLink]="['/task/edit/',task.id]" class="btn btn-sm btn-primary">Edit</a>
                    <a href="#!" class="btn btn-sm btn-primary">Assign</a>
                    <a href="#!" class="btn btn-sm btn-primary">Mark Complete</a>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
