<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{pageName}}</h3>
            </div>
            <div class="col-4 text-right">
              <a [routerLink]="['/thana']" class="btn btn-primary">Back to Thana List</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <h6 class="heading-small text-muted mb-4">Thana information</h6>
            <input type="hidden" id="input-first-name" class="form-control form-control-alternative" placeholder="description" value="" formControlName="id">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Thana Code</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Thana Code" value="" formControlName="code">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Thana Name</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="Thana Name" formControlName="name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">State</label>
                    <ng-multiselect-dropdown [placeholder]="'Select State'" [(ngModel)]="states" [settings]="dropdownSettings" [data]="stateList" (onSelect)="onStateSelect($event)" formControlName="states">
                    </ng-multiselect-dropdown>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">District</label>
                    <ng-multiselect-dropdown [placeholder]="'Select District'" [(ngModel)]="districts" [settings]="dropdownSettings" [data]="districtList" (onSelect)="onDistrictSelect($event)" formControlName="districts">
                    </ng-multiselect-dropdown>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">State</label>
                    <ng-multiselect-dropdown [placeholder]="'Select Subdivision'" [(ngModel)]="subdivisions" [settings]="dropdownSettings" [data]="subdivisionList" (onSelect)="onSubdivisionSelect($event)" formControlName="subdivisions">
                    </ng-multiselect-dropdown>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Created By</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="createdBy" value="" formControlName="createdBy">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Creation TimeStamp</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="createdDate" value="" formControlName="createdDate">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Modified By</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="modifiedBy" value="" formControlName="lastModifiedBy">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Modifaication TimeStamp</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="Select State" value="" formControlName="lastModifiedDate">
                  </div>
                </div>
              </div>
            </div>

            <!-- Office Address -->
            <h6 class="heading-small text-muted mb-4">Thana information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text" formControlName="address">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City Name" value="" formControlName="city">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code" formControlName="postalCode">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Contact Number</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Phone Number" value="" formControlName="phoneNumber">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Description</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Other Info</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words ..." name="text-description" formControlName="description"></textarea>
              </div>
            </div>
            <hr class="my-4" />
            <div class="row">
              <div class="col-lg-6">
                <a [routerLink]="['/thana']" class="btn btn-primary btn-block">Clear Data</a>
              </div>
              <div class="col-lg-6">
                <button class="btn btn-primary btn-block" (click)="onSubmit()" [disabled]="!form.valid">{{pageName}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
