<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{pageName}}</h3>
            </div>
            <div class="col-4 text-right">
              <a [routerLink]="['/notification']" class="btn btn-primary">Back to Notication List</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <input type="hidden" id="input-first-name" class="form-control form-control-alternative" placeholder="description" value="" formControlName="id">
            <h6 class="heading-small text-muted mb-4">Notication information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Notication Code</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Notication Code" value="" formControlName="code">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Notication Name</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="Notication Name" formControlName="name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Notication Config</label>
                    <input type="text" id="input-username" (change)="updateConfigList($event.target.value)" class="form-control form-control-alternative" placeholder="Notication Code" value="" formControlName="config">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <div class="card shadow">
                    <div class="card-header border-0">
                      <div class="row align-items-center">
                        <div class="col">
                          <h4 class="mb-0">Notification Schedule</h4>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Config</th>
                            <th scope="col">Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of notificationList">
                            <th scope="row">
                              {{item.key}}
                            </th>
                            <td>
                              {{item.rawdata}}
                            </td>
                            <td>
                              {{item.value}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Created By</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="createdBy" value="" formControlName="createdBy">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Creation TimeStamp</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="createdDate" value="" formControlName="createdDate">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Modified By</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="modifiedBy" value="" formControlName="lastModifiedBy">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Modifaication TimeStamp</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="lastModifiedDate" value="" formControlName="lastModifiedDate">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Description</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Other Info</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words ..." name="text-description" formControlName="description"></textarea>
              </div>
            </div>
            <hr class="my-4" />
            <div class="row">
              <div class="col-lg-6">
                <a [routerLink]="['/notification']" class="btn btn-primary btn-block">Clear Data</a>
              </div>
              <div class="col-lg-6">
                <button class="btn btn-primary btn-block" (click)="onSubmit()" [disabled]="!form.valid">{{pageName}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
