<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">State List</h3>
            </div>
            <div class="col-4 text-right">
              <a [routerLink]="['/state/create']" class="btn btn-primary">Add New State</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table datatable class="table align-items-center table-flush" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                  <th scope="col">State Code</th>
                  <th scope="col">State Name</th>
                  <th scope="col">Option</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let state of states">
                  <th scope="row">
                    {{state.code}}
                  </th>
                  <td>
                    {{state.name}}
                  </td>
                  <td class="text-center">
                    <a [routerLink]="['/state/edit/',state.id]" class="btn btn-sm btn-primary">Edit</a>
                    <a (click)="removeState(state.id)" class="btn btn-sm btn-primary">Remove</a>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
