<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Role List</h3>
            </div>
            <div class="col-4 text-right">
              <a [routerLink]="['/role/create']" class="btn btn-primary">Add New Role</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table datatable class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Role Code</th>
                  <th scope="col">Role Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Option</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let role of roles">
                  <th scope="row">
                    {{role.code}}
                  </th>
                  <td>
                    {{role.name}}
                  </td>
                  <td>
                    {{role.description}}
                  </td>
                  <td>
                    <a [routerLink]="['/role/edit/',role.id]" class="btn btn-sm btn-primary">Edit</a>
                    <a (click)="removeRole(role.id)" class="btn btn-sm btn-primary">Remove</a>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
